
<% include ./partials/header.ejs %>

<style>
 
 /*#typed{*/
 /* text-align:center;*/
 /* font-size:20px;*/
 /*}*/
 
</style>




<h1>This is my Portfolio!</h1>

<div id="typed-strings">
    <p>Typed.js is a <strong>JavaScript</strong> library.</p>
    <p>It <em>types</em> out sentences.</p>
</div>
<span id="typed"></span>



  <script>
  
  
  var typed = new Typed('#typed', {
    stringsElement: '#typed-strings',
     typeSpeed:50,
    backSpeed:50,
    smartBackspace:true,
    loop:true
  });

</script>

 
 





<% include ./partials/footer.ejs %>



