
<% include ./partials/header.ejs %>

<style>
 
 #first-typed{
     font-size:14px;
     color:red;
     
     
     
 }
 

 
.typed-cursor {
    color:red;
}

#typed{
    color:red;
}
 
</style>




<h1>This is my Portfolio!</h1>



<div id="typed-strings">
    <p class="first-typed">I am a</p>
    <p class="second-typed">I am a Developer</p>
    <p class="second-typed">I am a Designer</p>
    <p class="second-typed">I am a Student</p>
</div>
<span id="typed"></span>



  <script>
  
  
  var typed = new Typed('#typed', {
    stringsElement: '#typed-strings',
     typeSpeed:50,
    backSpeed:50,
    // smartBackspace:true,  //defaut
    loop:true
  });

</script>

 
 





<% include ./partials/footer.ejs %>



